@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Muli';
    font-size: 18px;
}

 /*---------------- Headers ------------------- */

h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}
